* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
}

.secao_oque_e {
  text-align: center;
}

.informacao_oque_e {
  width: 28%;
  height: auto;
  display: inline-block;

  background-color: #c6c6c6;
  border-radius: 10px;

  margin: 1vh;
}

.secao_programa {
  width: 75%;
  height: auto;

  background-color: #c6c6c6;
  border-radius: 10px;

  margin: auto;

  text-align: center;
  padding-bottom: 1vh;
}

.informacao_programa {
  width: 75%;
  height: auto;

  background-color: #b6b6b6;
  border-radius: 10px;

  margin: auto;
}

.titulo_programa {
  width: 100%;
  height: auto;

  background-color: lightslategray;
  border-radius: 10px 10px 0 0;
}

.botao button {
  width: 50%;
  height: 2.5em;

  background-color: lightslategray;
  border-radius: 50px;

  margin: 3vh 0 1.5Svh 0;
}

.introducao_cadastro {
  width: 30%;
  height: auto;

  background-color: grey;
  display: inline-block;
}

.introducao_superior {
  text-align: center;
}